<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Student</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='select_student.css') }}">
    <script src="{{ url_for('static', filename='feedback_script.js') }}"></script>

</head>
<body>
<div class="nav-menu" id="nav-menu">
    <div class="nav-buttons-container">
        <div class="nav-item"><a href="{{ url_for('profile') }}">Profile</a></div>
        <!-- Agenda Button -->
        {% if current_user.role == 'TEACHER' %}
        <div class="nav-item">
            <a href="{{ url_for('teacher_attendance') }}">Agenda</a>
        </div>
        {% elif current_user.role == 'STUDENT' %}
        <div class="nav-item">
            <a href="{{ url_for('student_schedule') }}">Agenda</a>
        </div>
        {% endif %}
        <div class="nav-item"><a href="{{ url_for('select_student') }}">Student Performance</a></div>
        <div class="nav-item">
            <a href="{{ url_for('feedback_form') }}">Feedback</a>
        </div>
        <div class="nav-item"><a href="{{ url_for('logout') }}">Logout</a></div>
    </div>
<div class="container">
    <h1>Select a Student</h1>
    <ul>
        {% for student in students %}
        <li><a href="{{ url_for('student_performance', student_id=student.id) }}">{{ student.username }}</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
