<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance Records</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<div class="menu-icon" onclick="toggleNavMenu()">☰</div>
<div class="profile-container" style="margin-top: 100px;"> <!-- Increased top margin -->
    <h1>Attendance Records for Major: {{ major }}</h1>
    <table>
        <tr>
            <th>Student</th>
            <th>Day</th>
            <th>Time</th>
            <th>Lesson</th>
            <th>Attendance</th>
        </tr>
        {% for student, records in attendance_data.items() %}

        {% for record in records %}
        <tr>

            {% if loop.first %}
            <td rowspan="{{ records|length }}">
                {{ student }}<br>
                <small>ID: {{ record.student_id }}</small>
            </td>
            {% endif %}
            <td>{{ record.day }}</td>
            <td>{{ record.time }}</td>
            <td>{{ record.lesson_name }}</td>
            <td class="{{ record.attendance.lower() }}">{{ record.attendance }}</td>
            <td class="attendance-actions">
                <div class="attendance-button"
                     onclick="updateAttendance('{{ record.student_id }}', '{{ record.lesson_id }}', 'ATTENDED')">
                    Attended
                </div>
                <div class="attendance-button"
                     onclick="updateAttendance('{{ record.student_id }}', '{{ record.lesson_id }}', 'LATE')">Late
                </div>
                <div class="attendance-button"
                     onclick="updateAttendance('{{ record.student_id }}', '{{ record.lesson_id }}', 'ABSENT')">Absent
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
</div>
<div class="nav-menu" id="nav-menu">
    <div class="nav-buttons-container">
        <div class="nav-item"><a href="{{ url_for('profile') }}">Profile</a></div>
        <!-- Agenda Button -->
        {% if current_user.role == 'TEACHER' %}
        <div class="nav-item">
            <a href="{{ url_for('teacher_attendance') }}">Agenda</a>
        </div>
        {% elif current_user.role == 'STUDENT' %}
        <div class="nav-item">
            <a href="{{ url_for('student_schedule') }}">Agenda</a>
        </div>
        {% endif %}
        <div class="nav-item"><a href="{{ url_for('select_student') }}">Student Performance</a></div>
        <div class="nav-item">
            <a href="{{ url_for('feedback_form') }}">Feedback</a>
        </div>
        <div class="nav-item"><a href="{{ url_for('logout') }}">Logout</a></div>
    </div>
</div>
</body>
</html>
